* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-image: url(https://i.pinimg.com/originals/20/bd/bf/20bdbf446a58eaa2ffd08f162959fc58.jpg);
    background-size:cover;
    height: 400px;
    
    
   

}

header {
    display: flex;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
   
}


.logo img {
    height: 55px;
    margin-left: 45px;
}

nav a {
    font-weight: 900;
    padding-right: 90px;
    color:rgb(44, 1, 1)
    
}




.section-1 {
    margin-top: 200px;
    width: 100%;
    color: white;
    display: flex;
    justify-content:space-around;
    gap: 50px;
    height: 60vh;
}

h1 {
    font-size: 3.5em;
}

p {

    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1.2em;
}

